<nav>
    <ul>
        <li><a href="@routes.Application.index">Home</a></li>
        <li><a href="@routes.Transphoner.transphone">Transphoner</a>
            <ul>
                <li><a href="@routes.Transphoner.transphone">Convert</a></li>
                <li><a href="@routes.Transphoner.lineup">Lineup</a></li>
                <li><a href="@routes.Transphoner.compare">Compare</a></li>
                <li><a href="@routes.Transphoner.lookup">Lookup</a></li>
            </ul>
        </li>
        <li><a href="@routes.Transphoner.soramimi">Soramimi</a>
        </li>
    </ul>
</nav>